{:paths
 ["src" "resources"]

 :deps
 {org.clojure/core.logic {:mvn/version "1.0.0"}
  com.informix.jdbc/com.informix.jdbc {:local/root "/Users/felix/github/efix/metabase-informix-driver/jdbc.jar"}}


 ;; build the driver with clojure -X:build
 :aliases
 {:build
  {:extra-deps {metabase/metabase-core {:local/root "/Users/felix/github/efix/metabase"}
                metabase/build-drivers {:local/root "/Users/felix/github/efix/metabase/bin/build-drivers"}}
   :exec-fn    build-drivers.build-driver/build-driver!
   :exec-args  {:driver      :ibminformix
                :project-dir "/Users/felix/github/efix/metabase-informix-driver"
                :target-dir  "/Users/felix/github/efix/metabase-informix-driver/target"}}}}
